/node_modules
/.git
/.github
/.vscode
/.idea
/.env
/.env.*
!.env.production.example
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
.DS_Store
Thumbs.db
docker-compose.yml
README.md
tests
phpunit.xml